{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoQueCambia2 %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">NOSOTROS</h2>



{% endblock %}

{% block contenidoQueCambia %}


        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'AppCoder/assets/img/sombras.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Hola! Soy Daniela!</h4>
                            <p class="mb-0 text-white-50">Mi nombre es Daniela Antonella Nicodemo Corrente, soy Contadora Pública, tengo 27 años y este curso fue mi primer acercamiento a la programación. Todo lo que se puede observar en esta app lo hice yo, batallando pero se logró!</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src= "{% static 'AppCoder/assets/img/skincare.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">App de E-commerce</h4>
                            <p class="mb-0 text-white-50">La idea de esta app apunta al e-commerce, mostrando catálogos de productos, donde se pueden visualizar los mismos junto a su precio de venta y stock.</p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'AppCoder/assets/img/labiales.jpg' %}" alt="..." /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Makeup & Skincare</h4>
                        <p class="mb-0 text-white-50">La temática de esta app de E-commerce es el maquillaje y los productos para el cuidado facial.</p>
                        <hr class="d-none d-lg-block mb-0 ms-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
